*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  margin: 0;
  /* font-family: 'Rubik', sans-serif; */
}

:root {
  --color1: #2ec1ac;
  --color2: #3e978b;
  --color3: #d2e603;
  --color4: #eff48e;

  /* Other Palettes */
  /* #eeeeee
  #393e46
  #76ead7
  #c4fb6d */
}

/* ===================== GENERAL STYLES ========================== */
.background-top {
  background-color: var(--color1);
}

.background-med {
  background-color: var(--color2);
}

.background-bottom {
  background-color: var(--color3);
}

.background-odd {
  background-color: var(--color4);
}

.text-color-top {
  color: var(--color1);
}

.text-color-med {
  color: var(--color2);
}

.text-color-bottom {
  color: var(--color3);
}

.text-color-odd {
  color: var(--color4);
}

.text-color-white {
  color: whitesmoke;
}

/* ===================== NAVBAR SECTION ========================== */

/* ===================== HEADER SECTION ========================== */
#introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
  border-radius: 0 0 0 30%;
  margin-bottom: 10vh;
}

.main-text {
  width: 60%;
}

.secondary-text {
  width: 60%;
  font-size: 2.5vh;
  margin-top: 3vh;
  color: gray;
}

.social-buttons {
  margin-top: 5vh;
  text-align: left;
  width: 60%;
}

.social-link {
  color: gray;
  text-decoration: none;
  margin: 0 1vh 0 1vh;
}

/* ===================== PROJECTS SECTION ======================== */
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.project-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 75%;
  border-radius: 2vh;
  background-color: whitesmoke;
  border: 1px solid var(--color1);
  padding: 5vh;
  margin: 5vh 0;
}

.project-photo-container {
  width: 100%;
  padding: 5vh 0;
  margin: 0 0 3vh 0;
  border-radius: 2vh;
}

.project-photo {
  width: 100%;
  
}

.project-info {
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-evenly;
}

.project-title {

}

.project-desc {
  margin-top: 3vh;
}

.project-link {
  margin-top: 3vh;
}

/* ============== PROJECTS SECTION MEDIA QUERIES ================= */
@media(min-width: 1000px){
  .project-display {
    flex-direction: row;
    align-items: center;
  }

  .project-photo-container{
    width: 50%;
    margin: 0 2.5vh;
  }

  .project-info {
    width: 50%;
    margin: 0 2.5vh;
  }

  .invert-content {
    flex-direction: row-reverse;
  }
}
/* ===================== ABOUT ME SECTION ======================== */
#about-me{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
  border-radius: 0 30% 0 0;
}

/* ===================== FOOTER SECTION ========================== */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-radius: 30% 0 0 0;
}
