*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  margin: 0;
  /* font-family: 'Rubik', sans-serif; */
}

:root {
  --color1: #2ec1ac;
  --color2: #3e978b;
  --color3: #d2e603;
  --color4: #eff48e;

  /* Other Palettes */
  /* #eeeeee
  #393e46
  #76ead7
  #c4fb6d */
}

/* ===================== GENERAL STYLES ========================== */
.background-top {
  background-color: var(--color1);
}

.background-med {
  background-color: var(--color2);
}

.background-bottom {
  background-color: var(--color3);
}

.background-odd {
  background-color: var(--color4);
}

.text-color-top {
  color: var(--color1);
}

.text-color-med {
  color: var(--color2);
}

.text-color-bottom {
  color: var(--color3);
}

.text-color-odd {
  color: var(--color4);
}

.text-color-white {
  color: whitesmoke;
}

/* ===================== NAVBAR SECTION ========================== */

/* ===================== HEADER SECTION ========================== */
#introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: whitesmoke;
  border-radius: 0 0 0 30%;
}

.main-text {
  width: 60%;
}

.secondary-text {
  width: 60%;
  font-size: 2.5vh;
  margin-top: 3vh;
  color: gray;
}

.social-buttons {
  margin-top: 5vh;
  text-align: left;
  width: 60%;
}

.social-link {
  color: gray;
  text-decoration: none;
  margin: 0 1vh 0 1vh;
}

/* ===================== PROJECTS SECTION ======================== */
#projects {

}

/* ===================== ABOUT ME SECTION ======================== */
#about-me{

}

/* ===================== FOOTER SECTION ========================== */
#footer {

}
